input {
  border-radius: 4;
  position: relative;
  border: "1px solid #ced4da";
  font-size: 16;
  padding: "10px 26px 10px 12px";
}
.MuiInputBase-root {
  line-height: 0.1876em;
}
.MuiSelect-select {
  padding: 10.5px !important;
}
.form-img{
  height: 100%;
  width: 100%;
}
.captcha-error{
  justify-content: flex-start !important;
}
.select-gray:disabled{
  color: gray !important;
}
#mui-component-select-securityQestion2{
  color: gray;
}
#mui-component-select-securityQestion1{
  color: gray;
}#mui-component-select-securityQestion3{
  color: gray;
}