@import '../../styles/themes/color.scss';
.container{
  max-width: 1220px;
  padding: 4rem;
  .form-wrapper{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    .form{
      margin:2rem 6rem;
      .input-label{
        font-size:14px;
        padding-bottom: 8px;
      }
      .text-input{
        width:100%;
        color:#777777;
        margin-bottom: 2rem;
        .MuiFormHelperText-root{
          display: flex;
          justify-content: flex-end;
          color:$primary;
        }
      }
      .submit{
        display: flex;
        flex-direction: column;
        align-items: center;
        .btn-primary{
          font-weight: 500;
          color: #fff !important;
          background-color: $primary !important;
          text-transform: capitalize !important;
          width:130px;
        }
        h5{
          color:#777777;
          margin-top: 12px;
        }

      }
      .btn-primary{
        font-weight: 500;
        color: #fff !important;
        background-color: $primary !important;
        text-transform: capitalize !important;
        width:130px;
      }
      .error-login{
        color:#777777;
        text-align: center;
        margin-top:8rem;
        a{
          color: $primary;
        }
      }
      .m-container{
        display: flex;
        margin-bottom: 2.1rem;
      }
      .r-container{
        display: flex;
        align-items: center;
      }
    }
  }
}